* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-color: lavender; */
}

.top {
    width: 1140px;
    margin: 0 auto;
}

.nav {
    display: flex;
    padding-left: 30px;
    align-items: center;
    background-color: rgb(49, 49, 49);
    height: 80px;
    color: rgb(235, 235, 235);
    margin-bottom: 20px;
}

/* your feed */
.feed {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* main contents */
.container {
    width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.column, .column2 {
    flex: 1;
}

.column2 {
    flex: 2;
}

/* left container */
.left-container {
    border: 2px solid black;
    width: 240px;
    height: 350px;
    background-color: white;
    /* box-shadow: 1px 1px 5px 5px; */
}

.icon {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.avatar {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.username {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

/* right containers */
.right-container {
    border: 2px solid black;
    width: 800px;
    height: 250px;
    margin-bottom: 30px;
    /* box-shadow: 1px 1px 5px 5px; */
    background-color: white;
}

.user {
    margin-top: 60px;
    margin-left: 20px;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
}

.start, .end {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.numlike, .add, .plus {
    padding-right: 30px;
}

.btn {
    background-color: gold;
    color: black;
    box-shadow: 2px 2px 1px 1px;
    font-size: 30px;
    width: 90px;
    font-weight: 200;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    padding: 30px;
    font-size: 40px;
    left: 20px;
}